/Contact.class
/ContactGroup.class
/ContactListController$DummyEventGenerationDialog.class
/ContactListController$SubscriberThread.class
/ContactListController.class
/ContactUri.class
/GenericURI.class
/LocalPresenceUserAgent.class
/MessageProcessing.class
/PresenceAgent.class
/PresenceStatusManager$ListNotificationThread.class
/PresenceStatusManager.class
/PresenceTuple.class
/Subscription.class
/SubscriptionAuthority.class
/SubscriptionAuthorizationResponse.class
/Watcher.class
/WatcherEventsDispatcher.class
/XmlPresenceInformationFactory.class
