/Notifier.class
/PresenceServer.class
/PresentityManager.class
/ResourceList.class
/Subscriber.class
/SubscriberMultipart.class
/SubscriberPresence.class
/VirtualSubscription.class
/XMLResourceListParser.class
